
<%= render 'game/header', game: @game, topic: @topic %>

<section id="page-body">
  <%= render 'breadcrumb', game: @game, topic: @topic %>

  <header class="author">
    <div class="image-with-caret <%= 'master' if @identity.game_master? %>">
      <%= avatar(character, class: 'toggle-panel') %>

      <% if @identity.game_master? %>
        <a href="javascript:;" id="change-author" class="toggle-panel">
          <span class="caret"></span>
        </a>
      <% end %>
    </div>
    <h1>
      <%= link_to @topic.title, game_posts_path(@game, @topic) %>
    </h1>
    <div id="authors-panel">
      <section>
        <%= link_to 'javascript:;', data: { id: character.id }, class: 'impersonate' do %>
          <%= avatar(character, class: 'characterAvatar') %>
        <% end %>

        <% @game.npcs.each do |npc| %>
          <%= link_to 'javascript:;', data: { id: npc.id }, class: 'impersonate' do %>
            <%= avatar(npc, class: 'toggle-panel') %>
          <% end %>
        <% end %>

      </section>
      <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
    </div>
  </header>

  <h3><% @area.edit_post? ? 'Edição de post' : 'Novo post' %></h3>

  <% url = @area.edit_post? ? game_update_post_path(@game, @topic, @post) : game_create_post_path(@game, @topic) %>
  <%= form_for(@post, url: url, id: 'post-form') do |f| %>
    <%= render 'recipients', f: f %>

    <div class="box-left">
      <%=
        f.text_area :message,
          id: 'bbcode-editor',
          class: @identity.game_master? ? 'master' : 'editor',
          data: { bbcode_editor: '' }
      %>

      <div class="pull-right bottom-line-options">
        <button type="button" class="btn btn-default" id="preview">Visualizar</button>
        <%=
          content_tag :button,
            'Cancelar',
            class: 'btn btn-danger',
            id: 'back',
            data: { url: game_posts_path(@game, @topic) }
        %>

        <%=
          content_tag :button,
            'Salvar',
            class: 'btn btn-success'
        %>
        <%#= FIXME: remove this code below or implement the correct way %>
        <%#= ,onclick: 'ComposePost.save();' %>
      </div>
    </div>

    <%= render 'compose_tools' %>
  <% end %>
</section>

<%= content_tag :div, '', data: { recipients: recipients_ids(@post) } %>
<%= content_tag :div, '', data: { characters_list: game_characters_list_path(@game) } %>
