<% ability = Ability.new(@identity, post, character) %>

<% if @identity.game_master? %>
  <style>
    .bbcode-master { display: block ! important; }
  </style>
<% end %>

<section class="post <%= klass %>" data-post>
  <%= render 'author', author: post.character %>

  <section class="message">
    <header>
      <ul class="actions">
        <% if ability.can_delete? %>
          <li class="btn btn-dark btn-xs">
            <a href="javascript:void(0);" title="Excluir" data-post-id="<%= post.id %>" class="delete-post" data-delete-post="<%= game_delete_post_path(game, topic, post) %>">Excluir</a>
          </li>
        <% end %>
        <% if ability.can_edit? %>
          <li class="btn btn-dark btn-xs">
            <!-- a href="< %: Url.Action("Edit", "Post", new { gameRoomSlug = Model.Game.Room.Slug, topicSlug = Model.Game.Room.CurrentTopic.Slug, id = post.Id } ) %>" title="Editar">Editar</a -->
          </li>
        <% end %>

        <% if ability.can_reply? %>
            <li class="btn btn-dark btn-xs">
              <!-- a href="< %: Url.Action("New", "Post", new { gameRoomSlug = Model.Game.Room.Slug, topicSlug = Model.Game.Room.CurrentTopic.Slug, id = post.Id } ) %>" title="Responder">Responder</a -->
            </li>
        <% end %>
      </ul>
      <div>
        <% if post.character.pc? %>
            por <!-- a href="< %: Url.Action("Show", "CharacterSheet", new { gameRoomSlug = Model.Game.Room.Slug, characterSlug = post.Author.Slug }) %>" data-toggle="modal" data-target="#remoteModal" data-width="1015px">< %: post.Author.Name%></a -->
            em <%= post.created_at.strftime("%A, %d de %B de %Y às %H:%Mh") %>
        <% else %>
            por <strong><%= post.character.name %></strong>
            em <%= post.created_at.strftime("%A, %d de %B de %Y às %H:%Mh") %>
        <% end %>
      </div>
    </header>

    <% if !post.recipients.empty? %>
      <div class="recipients <%= ability.recipient? ? "highlight" : "" %>">
        <%= recipients_names(post) %>
      </div>
    <% end %>

    <article class="content">
      <%= Parsers::Post.parse(post.message) %>
    </article>

    <% if game.show_signature && post.character.signature.present? %>
      <footer>
        <%= Parsers::Post.parse(post.character.signature) %>
      </footer>
    <% end %>
  </section>
</section>
<div class="clear"></div>
