<%= content_tag(:li, data: { topic_group_id: group.id }, class: (index == 0 ? 'active' : '')) do %>
  <% if @identity.game_master? %>
    <div class="extra-options">
      <%= icon('arrows-alt') %>

      <%= link_to edit_game_topic_group_path(@game, group),
        data: { toggle: 'modal', target: '#remote-modal', width: '365px' } do %>
        <%= icon('edit') %>
      <% end %>

      <%= icon('remove', { topic_group_id: group.id, delete_url: game_topic_group_path(@game, group) }) %>
    </div>
  <% end %>

  <a href="javascript:;" data-group-name><%= group.name %></a>
<% end %>
