<section class='topic-line <%= 'with-gutter' if @identity.game_master? %>' data-sortable-topic>
  <nav class="active fm-nav <%= 'game-master' if @identity.game_master? %>"
    data-topic-id="<%= topic.id %>">

    <%=
      link_to redirect_to_last_post_game_topic_path(game, topic),
        data: { 'fm-index' => roman_number(index) },
        class: 'animated fadeInLeft' do %>
      <span class="title"><%= topic.title %></span>
      <span class="subtitle"><%= topic.description %></span>
    <% end %>

    <% if @identity.game_master? %>
      <div class="extra-options move">

      </div>
    <% end %>
  </nav>

  <% if @identity.game_master? %>
    <div class="admin-tools-for-topic">
      <%= link_to edit_game_topic_path(game, topic),
        data: {
          toggle: 'modal',
          target: '#remote-modal',
          width: '365px'
        } do %>
        <%= icon('edit') %>
      <% end %>

      <%= icon('remove', { topic_id: topic.id, delete_url: game_topic_path(@game, topic) }) %>
    </div>
  <% end %>
</section>
