<%= content_for :title, "Tópicos - #{@game.name} - Arenah Tsuki" %>

<%= render 'game/header', game: @game %>

<section id="page-body" class="game-topics">
  <div class="row" id="game-content">
    <%= render 'game/menu', game: @game %>

    <div class="col-md-9" id="game-description">
      <div class="outer">
        <div class="inner">
          <div class="sidemenu fm-menu fm-animated">
            <div class="fm-wrapper">
              <% if @identity.game_master? %>
                <%= link_to game_new_topic_path, data: { toggle: 'modal', target: '#remote-modal', width: '365px' } do %>
                  <button type="button" class="btn btn-success">
                    <%= icon('plus') %> Novo
                  </button>
                <% end %>
              <% end %>

              <ul class="fm-first-level topics-groups <%= 'game-master' if @identity.game_master? %>">
                <% @game.topic_groups.each_with_index do |group, index| %>
                  <li data-topic-group-id="<%= group.id %>" class="<%= index == 0 ? 'active' : '' %>">
                    <% if @identity.game_master? %>
                      <div class="extra-options">

                        <%= link_to game_edit_topic_group_path(@game, group), data: { toggle: 'modal', target: '#remote-modal', width: '365px' } do %>
                          <%= icon('edit') %>
                        <% end %>

                        <%= icon('trash') %>
                      </div>
                    <% end %>

                    <a href="javascript:;"><%= group.name %></a>
                  </li>
                <% end %>
              </ul>

              <% @game.topic_groups.each_with_index do |group, index| %>
                <div class="<%= index == 0 ? 'subgroup-visible' : 'subgroup-invisible' %> topic-info"
                      data-topic-group-id="<%= group.id %>">

                  <%# TODO: Remove rails logic from view %>
                  <% Topic.by_group_id(group.id).each_with_index do |topic, roman_index| %>
                    <%= render 'topic_line', game: @game, index: roman_index + 1, topic: topic %>
                  <% end %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= content_for :javascripts do %>
  <%= render 'shared/flash_message' %>

  <% unless @identity.unlogged? %>
    Topics.unreadPostsCheck();

    <% if @identity.game_master? %>
      Topics.initializeAdminTools();
    <% end %>
  <% end %>
<% end %>
