<%= content_for :title, "Tópicos - #{@game.name} - Arenah Tsuki" %>

<%= render 'game/header', game: @game %>

<section id="page-body" class="game-topics">
  <div class="row" id="game-content">
    <%= render 'game/menu', game: @game %>

    <div class="col-md-9" id="game-description">
      <div class="outer">
        <div class="inner">
          <div class="sidemenu fm-menu fm-animated">
            <div class="fm-wrapper">
              <%= render 'new_topic_button' %>

              <ul class="fm-first-level topics-groups <%= 'game-master' if @identity.game_master? %>">
                <% @game.topic_groups.each_with_index do |group, index| %>
                  <%= render 'group_item', group: group, index: index %>
                <% end %>
              </ul>

              <% @game.topic_groups.each_with_index do |group, index| %>
                <div class="<%= index == 0 ? 'subgroup-visible' : 'subgroup-invisible' %> topic-info"
                      data-topic-group-id="<%= group.id %>" data-topic-sorting-url="<%= game_sort_topics_path(@game) %>">

                  <%# TODO: Remove rails logic from view %>
                  <% Topic.by_group_id(group.id).each_with_index do |topic, roman_index| %>
                    <%= render 'topic_line', game: @game, index: roman_index + 1, topic: topic %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= content_for :javascripts do %>
  <%= render 'shared/flash_message' %>

  <% unless @identity.unlogged? %>
    <!-- topics.unreadPostsCheck(); -->

    <% if @identity.game_master? %>
      var TopicsController = require('topics-controller');
      new TopicsController('.game-topics');
    <% end %>
  <% end %>
<% end %>
