<footer id="site-footer">
  <div class="pull-left">
    <%= link_to root_path, class: 'pull-left', title: 'Página inicial' do %>
      <div class="icon border-right" id="home">
        <div class="home"></div>
      </div>
    <% end %>

    <%= link_to about_path, class: 'pull-left', title: 'Sobre' do %>
      <div class="icon border-right" id="info">
        <div class="info"></div>
      </div>
    <% end %>
  </div>

  <div class="pull-right">
    <%= link_to museum_path, class: 'pull-left', title: 'Museu' do %>
      <div class="icon border-left" id="archive">
        <div class="archive"></div>
      </div>
    <% end %>

    <%= link_to masters_path, class: 'pull-left', title: 'Mestres' do %>
      <div class="icon border-left" id="masters">
        <div class="masters"></div>
      </div>
    <% end %>

    <%= link_to 'http://m.arenah.com.br', title: 'Arenah no celular', class: 'pull-left' do %>
      <div class="icon border-left">
        <div class="mobile"></div>
      </div>
    <% end %>
  </div>
  <div>
    <ul class="social-small-grid social-footer">
      <li>
      <div class="social-small-item">
      <div class="social-small-info-wrap">
      <div class="social-small-info">
        <div class="social-small-info-front social-small-twitter">
          <a href="http://twitter.com/artur_caliendo"></a>
        </div>
        <div class="social-small-info-back social-small-twitter-hover">
              <a href="http://twitter.com/artur_caliendo"></a>
        </div>
      </div>
      </div>
      </div>
      </li>
      <li>
      <div class="social-small-item">
      <div class="social-small-info-wrap">
      <div class="social-small-info">
        <div class="social-small-info-front social-small-facebook">
          <a href="http://facebook.com/artur.caliendoprado"></a>
        </div>
        <div class="social-small-info-back social-small-facebook-hover">
          <a href="http://facebook.com/artur.caliendoprado"></a>
        </div>
      </div>
      </div>
      </div>
      </li>
      <li>
      <div class="social-small-item">
      <div class="social-small-info-wrap">
      <div class="social-small-info">
        <div class="social-small-info-front social-small-skype">
          <a href="callto://artur.prado"></a>
        </div>
        <div class="social-small-info-back social-small-skype-hover">
          <a href="callto://artur.prado"></a>
        </div>
      </div>
      </div>
      </div>
      </li>
      <li>
      <div class="social-small-item">
      <div class="social-small-info-wrap">
      <div class="social-small-info">
        <div class="social-small-info-front social-small-youtube">
          <a href="http://youtube.com/videosarenah"></a>
        </div>
        <div class="social-small-info-back social-small-youtube-hover">
          <a href="http://youtube.com/videosarenah"></a>
        </div>
      </div>
      </div>
      </div>
      </li>
    </ul>
  </div>
</footer>
