<div class='col col-sm-12'>
  <h3>Todas as salas</h3>
    <% @games.each do |game| %>
      <%= link_to game_home_path(game), data: { game: game.slug } do %>
        <div class="game col col-sm-12">
          <header>
            <%= banner(game) %>
              <section class='author-avatar'>
                <% game.masters.each do |master| %>
                  <%= avatar(master) %>
                <% end %>
              </section>
          </header>

          <section>
            <h3><%= game.name %></h3>
            <div class="text-left subtitle"><%= game.subtitle %></div>

            <hr />

            <div class="short-description">
              <%= game.short_description %>
            </div>
          </section>
        </div>
      <% end %>
    <% end %>
</div>
