<!DOCTYPE html>
<html>
<head>
  <title>Arenah Tsuki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />

  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />

  <%= yield :head %>
</head>
<body data-page='<%= "#{controller.controller_name}##{controller.action_name}" %>' class="arenah-theme">
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <%= render 'logo' %>
      <%= render 'social' %>
      <%= render 'nav' %>
    </div>
  </nav>

  <%= render 'intro' %>

  <section id="rooms" class="container content-section text-center container-fluid">
    <div class="row">
      <%= render 'carousel' %>
    </div>
    <div class="row">
      <hr />
      <%= render 'games' %>
    </div>
  </section>

  <%= render 'tour' %>
  <%= render 'sign_up' %>

  <section id="contact" class="container content-section text-center">
    <div class="row">
      <%= render 'contact' %>
    </div>
  </section>

  <div id="home-modal">
    <%= render 'shared/modal' %>
  </div>

  <%= render 'shared/flash_message' %>
  <%= render 'shared/tracking_scripts' %>
</body>
</html>
