<%= content_for :title, "#{@game.name} - Arenah Tsuki" %>

<%= render 'game/header', game: @game %>

<section id="page-body">
  <div class="row" id="game-content">
    <%= render 'game/menu', game: @game %>

    <div class="col-md-9" id="game-description">
      <section class="content">
        <header>
          <div class="text-center game-title">
            <h1>
              <%= link_to @game.name, game_home_path(@game) %>
            </h1>
            <p>
              <%= @game.subtitle %>
            </p>
          </div>
        </header>

        <article>
          <%= Parsers::Post.parse(@game.description) %>
          <div class="text-right masters-line">
            <% masters = @game.masters %>
            <h4><%= masters.count > 1 ? 'Mestres' : 'Mestre' %></h4>
            <% masters.each do |master| %>
              <%= avatar(master, class: 'avatar') %>
            <% end %>
          </div>
        </article>
      </section>
    </div>
  </div>

  <div id="online-users"></div>
</section>
