  <tr>
    <td colspan="2">
      <div class="special-attribute">
        <span>
          <%= attribute.name %>
          <div class="pull-right">(<%= attribute.points %>/<%= attribute.total %>)</div>
          <%= render 'game/sheet/modified_attribute_mark', attribute: attribute %>
        </span>

        <% percentage = bar_level(attribute.points, attribute.total) %>
        <div class="progress character-bar-attributes">
          <div class="progress-bar progress-bar-striped" style="width: <%= percentage %>%">

          </div>
        </div>
      </div>
    </td>
  </tr>
