<div class="special-attribute pull-left">
  <span>
    <%= attribute.name %> (<%= attribute.points %>/<%= attribute.total %>)
    <%= render 'game/sheet/modified_attribute_mark', attribute: attribute %>
  </span>

  <% percentage = bar_level(attribute.points, attribute.total) %>
  <div class="progress-bar <%= bar_color(percentage) %> stripes">
      <span style="width: <%= percentage %>%"></span>
  </div>
</div>
