<%= content_tag :tr, data: attribute.to_params do %>
  <td>
    <%= smart_description(attribute) do %>
      <% if attribute.base_attribute && attribute.base_attribute.abbreviation.present? %>
        (<%= attribute.base_attribute.abbreviation %>)
      <% end %>
    <% end %>
  </td>

  <td class="text-right">
    <% if local_assigns[:text_only] %>
      <%= link_to attribute.to_s, 'javascript:;' %>
    <% else %>
      <%=
        editable_link({
          type: 'spinner',
          value: attribute.points,
          text: attribute.to_s,
          master_only: attribute.master_only
        })
      %>
    <% end %>
  </td>

  <%= render 'game/sheet/tooltip', name: attribute.name, description: attribute.description %>
<% end %>
