<%= content_tag :tr, data: attribute.to_params do %>
  <td>
    <%= smart_description(attribute) do %>
      <% if attribute.base_attribute && attribute.base_attribute.abbreviation.present? %>
        (<%= attribute.base_attribute.abbreviation %>)
      <% end %>
    <% end %>
  </td>

  <td class="text-right">
    <%=
      editable_link({
        type: 'spinner',
        value: attribute.points,
        text: attribute.to_s,
        master_only: attribute.master_only
      })
    %>
  </td>

  <%= render 'game/sheet/tooltip', attribute: attribute %>
<% end %>
