<%= content_tag :tr, data: attribute.to_params do %>
  <td>
    <%= smart_description(attribute) do %>
      <%= render 'game/sheet/modified_attribute_mark', attribute: attribute %>
    <% end %>
  </td>

  <td class="text-right attribute circle">
    <div class="pull-right">
      <% (0..attribute.total - 1).each do |i| %>
        <div class='<%= i < attribute.points ? 'full' : 'empty' %>'></div>
      <% end %>
    </div>

    <%#=
      editable_link({
        type: 'bullet',
        value: attribute.points,
        text: attribute.value.to_s,
        class: 'bullet-hidden',
        formula: attribute.formula,
        master_only: attribute.master_only
      })
    %>
  </td>

  <%= render 'game/sheet/tooltip', attribute: attribute %>
<% end %>
