<%= content_tag :tr, data: attribute.to_params do %>
  <td>
    <%= smart_description(attribute) do %>
      <%= render 'game/sheet/modified_attribute_mark', attribute: attribute %>
    <% end %>
  </td>

  <td class="text-right">
    <%=
      editable_link({
        type: 'spinner',
        value: attribute.points,
        text: attribute.value.to_s,
        prefix: attribute.prefix,
        formula: attribute.formula,
        master_only: attribute.master_only
      })
    %>
  </td>

  <%= render 'game/sheet/tooltip', attribute: attribute %>
<% end %>
