<tr data-attribute-name="<%= attribute.name %>">
  <td>
    <%= smart_description(attribute) %>
  </td>

  <td class="text-right">
    <%= attribute.value %> <%= attribute.unit %>
  </td>

  <%= render 'game/sheet/tooltip', name: attribute.name, description: attribute.description %>
</tr>
