<tr data-attribute-name="<%= attribute.name %>">
  <td>
    <%= link_to attribute.name, 'javascript:;', class: attribute.description.present? ? 'smart-description' : '' %>
  </td>

  <td class="text-right">
    <%= attribute.value %> <%= attribute.unit %>
  </td>

  <%= render 'game/sheet/tooltip', attribute: attribute %>
</tr>
