<%= content_tag :div, class: 'attributes-group', data: group.to_params do %>
  <%= render 'game/sheet/attributes_groups/group_title', group: group %>

  <table class="table table-condensed attributes-with-base" data-accept-edit-mode>
    <tbody>
      <% group.character_attributes.each do |attribute| %>
        <%= render 'game/sheet/attributes_types/based', attribute: attribute, text_only: true %>
      <% end %>

      <%= render 'game/sheet/attributes_groups/empty_group' if group.character_attributes.count == 0 %>
    </tbody>
  </table>

  <% if group.source_type == 'list' %>
    <div class="based-warning bg-warning">
      Feche a ficha e abra novamente para que a relação com os demais atributos seja recalculada.
    </div>

    <%= render 'game/sheet/attributes_groups/edit_panel', group: group %>
  <% end %>
<% end %>
