<%= content_tag :div, class: 'attributes-group card-title-alignment',
  data: group.to_params(editable_only_on_free_mode: true) do %>
  <%= render 'game/sheet/attributes_groups/group_title', group: group %>

  <div class="character-card-group row" data-accept-edit-mode>
    <% group.character_attributes.each do |attribute| %>
      <div class="col-xs-4 col-sm-4">
        <table class="key-value-table">
          <%= content_tag :tr, data: { 'atribute-name': attribute.name } do %>
            <td class="key">
              <%=
                link_to "#{attribute.name}:",
                  'javascript:;',
                  class: attribute.description.present? ? 'smart-description' : ''
              %>
            </td>

            <td class="value">
              <%= link_to attribute.content, 'javascript:;', data: { editable_attribute: 'text' } %>
            </td>

            <%= render 'game/sheet/tooltip', name: attribute.name, description: attribute.description %>
          <% end %>
        </table>
      </div>
    <% end %>

    <%= render 'game/sheet/attributes_groups/empty_group' if group.character_attributes.count == 0 %>
  </div>
<% end %>
