<% data_attributes = {
  'group-name': group.name,
  'points': group.points,
  'used-points': group.used_points,
  'source-type': group.source_type,
  'type': group.type,
  'editable-only-on-free-mode': true
} %>

<%= content_tag :div, class: 'attributes-group card-title-alignment', data: data_attributes do %>
  <%= render 'game/sheet/attributes_groups/group_title', group: group %>

  <div class="character-card-group row" data-accept-edit-mode>
    <% group.character_attributes.each do |attribute| %>
      <div class="col-xs-4 col-sm-4">
        <table class="key-value-table">
          <%= content_tag :tr, data: { 'atribute-name': attribute.name } do %>
            <td class="key">
              <%=
                link_to attribute.name,
                  'javascript:;',
                  class: attribute.description.present? ? 'smart-description' : ''
              %>
            </td>

            <td class="value">
              <%= link_to attribute.content, 'javascript:;', data: { 'editable-attribute': 'text' } %>
            </td>

            <%= render 'game/sheet/tooltip', attribute: attribute %>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
