<%
  # TODO: fix this flat_version. For now, I will let the show_title be always true.
  # In the previous version, ShowTitle use FlatVersion behind it:
  #
  #  public bool ShowTitle()
  # {
  #   return (!this.FlatVersion && this.ShowTitleOnPosts) || (this.FlatVersion);
  # }
  show_title = true

  # TODO: the same with this show_points_counter. For now, it will always be true.
  # Maybe those logics should not be in view at all
  #
  # public bool ShowPointsCounter()
  # {
  #   return this.Points > 0 && this.FlatVersion;
  # }
  show_points_counter = true

  # TODO show_edit_button will always be true for now.
  # public bool ShowEditButton()
  # {
  #   return this.FlatVersion && this.SourceType != Source.SourceType.Table;
  # }
  show_edit_button = true

  show_points = group.used_points != 0 || group.total_points != 0
%>

<% if show_title %>
  <h2 <%= 'class=with_gutter' unless show_points %>>
    <% if group.instructions.present? %>
      <%= link_to 'javascript:;', class: 'attributes-group-instructions' do %>
        <%= icon('info-circle') %>
      <% end %>
    <% end %>

    <%= group.name %>

    <% if show_points_counter && show_points %>
      <span class="group-points">
        (<span class="<%= class_for_points_counter(group) %> points-counter"><%= group.used_points %></span> / <%= group.total_points %>)
      </span>
    <% else %>
      <br />
    <% end %>
  </h2>

  <% if show_edit_button %>
    <span class="manage-group-container">
      <%= render 'game/sheet/attributes_groups/edit_buttons' %>
    </span>
  <% end %>

  <% unless group.instructions.blank? %>
    <table class="attributes-group-instructions-content">
      <tr>
        <%#= FIXME: The tooltip partial should receive name and description, this fix below must be removed %>
        <%= render 'tooltip', attribute: RPG::CharacterAttribute.new(name: group.name, description: group.instructions) %>
     </tr>
    </table>
  <% end %>
<% end %>
