<%
  show_title = !group.quick_access || group.show_title_on_posts
  show_edit_button = !group.quick_access && group.type != 'table'
  show_points_counter = group.total_points != 0 && !group.quick_access
%>

<% if show_title %>
  <h2 <%= 'class=with_gutter' unless show_points_counter %>>
    <% if group.instructions.present? %>
      <%= link_to 'javascript:;', class: 'attributes-group-instructions' do %>
        <%= icon('info-circle') %>
      <% end %>
    <% end %>

    <%= group.name %>

    <% if show_points_counter %>
      <span class="group-points">
        (usado: <span class="<%= class_for_points_counter(group) %> points-counter"><%= group.used_points %></span> / total: <%= group.total_points %>)
      </span>
    <% else %>
      <br />
    <% end %>
  </h2>

  <% if show_edit_button %>
    <span class="manage-group-container">
      <%= render 'game/sheet/attributes_groups/edit_buttons' %>
    </span>
  <% end %>

  <% unless group.instructions.blank? %>
    <table class="attributes-group-instructions-content">
      <tr>
        <%#= FIXME: The tooltip partial should receive name and description, this fix below must be removed %>
        <%= render 'game/sheet/tooltip', attribute: Sheet::CharacterAttribute.new(name: group.name, description: group.instructions) %>
     </tr>
    </table>
  <% end %>
<% end %>
