<%= content_tag :div, class: 'attributes-group rich-text-attribute',
  data: group.to_params(editable_only_on_free_mode: true) do %>
  <%= render 'game/sheet/attributes_groups/group_title', group: group %>

  <% group.character_attributes.each do |attribute| %>
    <div>
      <%= link_to 'javascript:;', class: 'ckeditor-attribute',
        data: { type: attribute.type, name: attribute.name, 'editable-attribute': 'ckeditor' } do %>
        <%= raw(attribute.content) %>
      <% end %>

      <textarea class="hidden"><%= attribute.content %></textarea>
    </div>
  <% end %>

  <%= render 'game/sheet/attributes_groups/empty_group' if group.character_attributes.count == 0 %>
<% end %>

<script src="//cdn.ckeditor.com/4.4.3/full/ckeditor.js"></script>
