<%= content_for :title, "#{@game.name} - Arenah Tsuki" %>

<%= render 'header', game: @game %>

<section id="page-body">
  <div class="row" id="game-content">
    <%= render 'menu', game: @game %>

    <div class="col-md-9" id="game-description">
      <section class="content">
        <header>
          <div class="pull-right">
            <% @game.masters.each do |master| %>
              <%= avatar(master, class: 'avatar') %>
            <% end %>
          </div>

          <div class="pull-left game-title">
            <h1>
              <%= link_to @game.name, game_path(@game) %>
            </h1>
            <p>
              <%= @game.subtitle %>
            </p>
          </div>
        </header>
        <article>
          <%= Parsers::Post.parse(@game.description) %>
        </article>
      </section>
    </div>
  </div>
  <div id="online-users"></div>
</section>
