<% content_for :title, 'Entrar - Arenah Tsuki' %>
<section class='login-section'>
  <div id="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true,
          oninvalid: 'validity.typeMismatch ?
            setCustomValidity("Formato de email inválido") :
            setCustomValidity("")' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field devise-links">
        <%= render "devise/shared/links" %>
      </div>

      <div id="lower">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: 'for-checkbox' %>
        <% end -%>

        <%= f.submit 'Entrar' %>
      </div>

    <% end %>
  </div>
</section>
