<%= content_for :title, "Personagens - #{@game.name} - Arenah Tsuki" %>

<%= render 'game/header', game: @game %>

<section id="page-body" class="game-characters">
  <div class="row" id="game-content">
    <%= render 'game/menu', game: @game %>

    <div class="col-md-9" id="game-description">
      <div class="inner">
        <h1>Personagens</h1>

        <div id="charactersList" class="bookshelf">
          <% characters = @game.active? ? @game.pcs.active : @game.pcs %>
          <% characters.each do |character| %>
            <div class="view-cover book">
              <%= link_to game_sheet_path(character.slug),
                data: { toggle: 'modal', target: '#remote-modal', width: '975px' } do %>
                <div class="main">
                  <div class="book-font">
                    <div class="book-cover"
                      style="background:url(<%= avatar_path(character) %>) no-repeat; background-size: 84px 120px;">
                      <h1 class="title"><%= character.name %></h1>
                    </div>
                  </div>
                  <div class="book-back"></div>
                  <div class="book-right"></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
