<%= content_for :title, "#{@game.try(:name)} - #{@topic.try(:title)} - Arenah Tsuki" %>

<section id="page-body">
  <%= render 'header', game: @game, topic: @topic %>

  <h1>
    <%= link_to @topic.title, posts_path(@game, @topic) %>
  </h1>

  <!-- % if (!string.IsNullOrEmpty(Model.Game.Room.FilterByCharacter)) { %>
    <div class="saga-warning">Saga de < %: Model.Identity.Character.Name %></div>
  < % } % -->

  <%= render 'breadcrumb', game: @game, topic: @topic %>

  <div class="reply-paging-line">
    <%= render 'pagination' %>
  </div>

  <div class="clear"></div>

  <% @posts.each do |post| %>
    <%= render 'post', game: @game, post: post, character: @character, klass: cycle('even', 'odd') %>
  <% end %>

  <!-- % Html.RenderPartial("ButtonAndPagination"); % -->
  <!-- % Html.RenderPartial("PlayersList"); % -->
  <%= render 'players_list', game: @game %>

  <% unless @identity.read_only? %>
    <div id="online-users" data-online-users></div>
  <% end %>
</section>

<%= content_for :javascripts do %>
  <% unless @identity.unlogged? %>
    /*$(document).ready(function () {
      new UnreadPosts.Checker('<%= @topic.last_post_id %>').storeLastPostId();
    });*/
  <% end %>
<% end %>
