<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || 'Arenah Tsuki' %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />

  <%= custom_css(@game) %>

  <%= yield :head %>
</head>
<body data-page='<%= "#{controller.controller_name}##{controller.action_name}" %>' class="arenah-theme">
  <%= render 'shared/header', area: @area, game: @game, topic: @topic %>

  <div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <section id="game-modal">
      <%= render 'shared/modal' %>
    </section>
  </div>

  <%= render 'shared/footer' %>
  <%= render 'shared/hidden_fields' %>
  <%= render 'shared/tracking_scripts', game: @game %>

  <script>
    <%= yield :javascripts %>
  </script>
</body>
</html>
