<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || 'Arenah Tsuki' %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/Content/Images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/Content/Images/favicon.ico" type="image/ico" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />

  <% if @game.present? %>
    <link href="/games/<%= @game.slug %>/css/custom.css" rel="stylesheet" />
  <% end %>

  <%= yield :head %>
</head>
<body>
  <% options = { identity: @identity, area: @area, game: @game, topic: @topic } %>
  <%= render :header, identity: @identity, area: @area, game: @game, topic: @topic %>
  <!-- % Html.RenderPartial("Header"); % -->
  <div id="content">
    <%= yield %>

    <section id="game-modal">
      <!-- % Html.RenderPartial("IncludeModal"); % -->
    </section>
  </div>

  <!-- % Html.RenderPartial("Footer"); % >
  < % Html.RenderPartial("HiddenFields"); % >
  < % Html.RenderPartial("TrackingScripts"); % -->

  <% if @game.present? %>
    <script type="text/javascript">
      ga('create', '<%= @game.GoogleAnalyticsCode %>', 'auto', { 'name': 'userTracker' });
    </script>
  <% end %>

  <script>
    <%= yield :javascripts %>
  </script>
</body>
</html>

